*{
    margin: 0  ;
    padding: 0 !important;
    font-family: "Titillium Web", sans-serif;
    font-style: normal;
}


.herosec{
    background-color: rgb(135,80,156);
    height:500px;
}

.btn-1{
    background-color: rgb(235,125,75);
    padding: 20px 80px !important;
    box-shadow: 0 6px #c86a40;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.btn-1:hover{
    transform: translate(3px , 3px);
    transition: all 5ms ease-in-out;
    box-shadow: 0 3px #c86a40;
 }
.navlist{
    background-color: rgb(135,80,156);  
}

.sec-2{
    background-color: rgb(23,194,164);

}

.heropara{
    padding: 125px 0 50px;
    margin: 0 100px;
}

.card1 p{ 
    max-width: 400px;
}
.sec-3{
    background-color: rgb(231,241,248);
}

.progress-bar-1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(241, 236, 236) 85%, transparent 80% 100%),
      conic-gradient(rgb(48,186,231) 90%, rgb(242,246,248) 0);    
     
  }
 
  .progress-bar-1 span{
    display: inline-block;
    margin: 30%;
    font-size: 40px;
    font-weight: 400;
    opacity: 0.6;
  }
  .progress-bar-2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(241, 236, 236) 85%, transparent 80% 100%),
      conic-gradient(rgb(215,70,128) 75%, rgb(242,246,248) 0);    
     
  }
 
  .progress-bar-2 span{
    display: inline-block;
    margin: 30%;
    font-size: 40px;
    font-weight: 400;
    opacity: 0.6;
  }
  .progress-bar-3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(241, 236, 236)85%, transparent 80% 100%),
      conic-gradient(rgb(21,199,168) 70%, rgb(242,246,248) 0);    
     
  }
 
  .progress-bar-3 span{
    display: inline-block;
    margin: 30%;
    font-size: 40px;
    font-weight: 400;
    opacity: 0.6;
  }
  .progress-bar-4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, rgb(241, 236, 236) 85%, transparent 80% 100%),
      conic-gradient(rgb(235,125,75) 85%, rgb(242,246,248) 0);    
     
  }
 
  .progress-bar-4 span{
    display: inline-block;
    margin: 30%;
    font-size: 40px;
    font-weight: 400;
    opacity: 0.6;
  }

  .sec-5{
    background-color:rgb(255,221,153);
  }

  .btn-5{
    padding: 5px 20px !important;
    background: #ebc985;
  }

  .sec-4{
    height: 600px !important;
    
  }

  .btn-6{
padding: 20px 10px !important;
    color: #393939;
    background: #17c2a4;
    border: none;
    box-shadow: 0 6px #1d9680;
    border-radius: 15px;
    cursor: pointer; 
  }
  .btn-6:hover{
    transform: translate(3px , 3px);
   transition: all 5ms ease-in-out;
   box-shadow: 0 3px #1d9680;
}

.sec-6{
    background-color:rgb(215,70,128);
}


.title-6{
    color:rgb(253,213,152);
}

.sec-7{
   
  background-color:rgb(39,58,113);
}

.input-1 input{
    background-color:rgb(39,58,113);

}

.input-2 input{
    background-color:rgb(39,58,113);
    height: 200px;
}

.sec-7::placeholder{
    color: white;
}
.input-2 input::placeholder{
    position: relative;
     top: -75px;
     left: 0;
     font-size: 18px;
     vertical-align: 0;
 }

 .footer a:hover {
color:aqua !important;
 }